@keyframes slideInLeft {
  0% {
    transform: translate3d(-250px, 0, 0);
    visibility: visible; }
  100% {
    transform: translate3d(0, 0, 0); } }

@keyframes slideOutLeft {
  0% {
    transform: translate3d(0, 0, 0); }
  100% {
    transform: translate3d(-250px, 0, 0);
    visibility: hidden; } }

* {
  box-sizing: border-box; }

body:after {
  background: white;
  content: auto;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: auto;
  padding: 0;
  position: absolute;
  top: 0;
  transition: all 0.4s ease;
  width: 100%; }

body.open {
  overflow: hidden; }

body.open:after {
  opacity: 1;
  visibility: visible;
  background-color: #fff; }

.b-nav {
  position: absolute;
  z-index: 11; }
  .b-nav:not(.open) {
    visibility: hidden; }
  .b-nav li {
    color: #444444;
    list-style-type: none;
    padding: 10px;
    text-align: left;
    transform: translateX(-250px); }
  .b-nav li:not(.open) {
    animation-duration: 0.4s;
    animation-fill-mode: both;
    animation-name: slideOutLeft; }
  .b-nav li:first-child {
    padding-top: 120px; }
  .b-nav.open {
    visibility: visible; }
    .b-nav.open li {
      animation-duration: 0.4s;
      animation-fill-mode: both;
      animation-name: slideInLeft; }

.b-link {
  background: transparent;
  border-left: rgba(68, 68, 68, 0) solid 2px;
  color: #444444;
  font-family: Helvetica-Neue, Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 300;
  margin-left: 30px;
  text-decoration: none;
  transition: all 0.4s ease;
  width: auto; }
  .b-link:hover, .b-link--active {
    border-left: #444444 solid 2px;
    padding-left: 30px;
    text-decoration: none; }

.b-menu {
  background: white;
  border: white solid 2px;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 60px;
  padding-left: 15.5px;
  padding-top: 17.5px;
  position: relative;
  transition: all 0.4s ease;
  user-select: none;
  width: 60px;
  z-index: 12; }
  .b-menu:hover {
    border: #444444 solid 2px; }

.b-bun {
  background: #444444;
  position: relative;
  transition: all 0.4s ease; }
  .b-bun--top {
    height: 2px;
    top: 0;
    width: 25px; }
  .b-bun--mid {
    height: 2px;
    top: 8px;
    width: 25px; }
  .b-bun--bottom {
    height: 2px;
    top: 16px;
    width: 25px; }

.b-brand {
  color: white;
  font-family: Helvetica-Neue, Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 300;
  margin-left: 30px;
  position: relative;
  text-decoration: none;
  top: -21.42857px;
  transition: all 0.4s ease;
  z-index: 13; }

.b-container {
  height: 60px;
  left: 30px;
  position: absolute;
  top: 30px; }
  .b-container:hover:not(.open) .bun-top,
  .b-container:hover:not(.open) .bun-mid,
  .b-container:hover:not(.open) .bun-bottom {
    background: #fff; }
  .b-container.open .b-main {
    border: #444444 solid 2px; }
  .b-container.open .b-bun--top {
    background: #444444;
    top: 9px;
    transform: rotate(45deg); }
  .b-container.open .b-bun--mid {
    opacity: 0; }
  .b-container.open .b-bun--bottom {
    background: #444444;
    top: 5px;
    transform: rotate(-45deg); }
  .b-container.open .b-brand {
    color: #444444; }

.sidebar {
  display: block;
  position: fixed;
  width: 12.5%;
  height: 100%;
  left: 0;
  top: 0;
  background: #333;
  box-sizing: inherit; }
  @media only screen and (min-width: 641px) and (max-width: 1024px) {
    .sidebar {
      width: 25%; } }
  @media only screen and (min-width: 0px) and (max-width: 640px) {
    .sidebar {
      position: static;
      width: 100%; } }
  .sidebar .dash-menu {
    display: block;
    box-sizing: inherit;
    margin: 25px 0;
    padding: 0;
    width: 100%; }
    .sidebar .dash-menu h3 {
      display: block;
      box-sizing: inherit;
      font-family: "Roboto Slab", serif;
      font-size: 16pt;
      font-weight: 700;
      color: #fff;
      width: 80%;
      margin: 0 auto;
      margin-top: 10px;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #fff; }
      @media only screen and (min-width: 641px) and (max-width: 1024px) {
        .sidebar .dash-menu h3 {
          font-size: 12pt; } }
      @media only screen and (min-width: 0px) and (max-width: 640px) {
        .sidebar .dash-menu h3 {
          font-size: 10pt; } }
    .sidebar .dash-menu ul {
      display: block;
      box-sizing: inherit;
      margin: 0;
      padding: 0;
      list-style-type: none; }
      .sidebar .dash-menu ul li {
        display: block;
        box-sizing: inherit;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #fff; }
        .sidebar .dash-menu ul li a {
          color: #fff;
          text-decoration: none;
          font-weight: 400;
          font-size: 10pt; }
          .sidebar .dash-menu ul li a i.fa {
            float: right;
            margin-top: 6px; }

.btn {
  border: none;
  font-weight: 400;
  font-size: 10pt;
  box-shadow: none;
  padding: 4px 8px; }
  .btn.success {
    color: #fff;
    background: #29930f; }
    .btn.success:hover {
      background: #2faa11; }
    .btn.success:active {
      background: #1c650a; }
  .btn.danger {
    color: #fff;
    background: #a70000; }
    .btn.danger:hover {
      background: #c10000; }
    .btn.danger:active {
      background: #740000; }
  .btn.default {
    color: #fff;
    background: #499cb5; }
    .btn.default:hover {
      background: #428ca3; }
    .btn.default:active {
      background: #244e5a; }

body, html {
  background-color: #f2f2f2;
  margin: 0 auto; }

.container {
  width: 100%;
  display: inline-block; }

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #E28413;
  position: relative;
  bottom: 0;
  width: 100%;
  margin: 0 auto; }

.row {
  width: 100%;
  height: 100%;
  margin: 0 auto !important;
  text-align: center;
  margin-top: 200px; }

.col-inner {
  background-color: #ffffff;
  height: 100%;
  text-align: center;
  -webkit-box-shadow: 7px 14px 44px -11px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 7px 14px 44px -11px rgba(0, 0, 0, 0.51);
  box-shadow: 7px 14px 44px -11px rgba(0, 0, 0, 0.51); }

.col-md-4 {
  margin-top: 30px; }

.col-md-4 h2 {
  background-color: #028090 !important;
  display: block;
  color: #ffffff !important;
  text-align: center;
  padding: 10px; }

.chart-gauge {
  width: 70%;
  margin: 10px auto; }

.chart-filled {
  fill: steelblue; }

.chart-empty {
  fill: #dedede; }

.needle, .needle-center {
  fill: #464A4F; }

.svg {
  margin: 0; }

.tile-container {
  width: 320px;
  margin: 20px; }

.title-container {
  margin-bottom: 20px; }

.info-container {
  width: 280px;
  height: 250px;
  padding: 15px;
  margin-top: -40px;
  margin-left: -20px; }

.title {
  font-size: 22px;
  margin: 0; }

.invoice-section-header {
  font-size: 14px;
  margin-top: 22px;
  margin-bottom: 14px; }

.invoice-section-header span:first-child {
  font-weight: bold;
  margin-right: 15px; }

.right-align {
  text-align: right; }

.money-amount {
  font-size: 14px;
  font-weight: 500;
  color: #E28413; }

.money-amount-big {
  font-size: 17px;
  font-weight: 500;
  color: #E28413; }

.money-subtitle {
  font-size: 12px;
  color: #028090; }

.progress {
  background-color: #d4d7dc;
  margin-bottom: 0; }

.dropdown {
  text-align: right; }

.dropdown-selection {
  font-size: 1.2rem; }

.bank-account-list-container {
  height: 100%;
  font-size: 14px;
  margin-top: 20px; }

.bank-account-container {
  padding: 8px 0;
  border-bottom: 1px solid #eceef1;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eceef1; }

.bank-account-table {
  width: 100%; }

.profit-loss-amount {
  font-weight: 600;
  font-size: 16px; }

.profit-loss-subtitle {
  color: #8d9096;
  font-size: 12px; }

.profit-loss-review {
  font-weight: 600;
  font-size: 12px;
  outline: 1px solid transparent;
  color: #0077c5; }

.graph-container {
  margin-top: 15px; }

.uppercase {
  text-transform: uppercase; }

.login h2 {
  text-align: center; }

.button {
  padding: 10px;
  width: 150px; }

.username, .password {
  padding: 20px;
  text-align: center; }

@keyframes bar-fill {
  0% {
    width: 0; } }

@-webkit-keyframes bar-fill {
  0% {
    width: 0; } }

@-moz-keyframes bar-fill {
  0% {
    width: 0; } }

@-o-keyframes bar-fill {
  0% {
    width: 0; } }

.bar-graph {
  list-style: none;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  padding: 20px; }

.bar-wrap {
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -ms-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background-color: rgba(0, 155, 202, 0.2);
  border: 1px solid rgba(0, 155, 202, 0.8);
  margin-bottom: 14px; }

.bar-fill {
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -ms-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  -moz-animation: bar-fill 1s;
  -webkit-animation: bar-fill 1s;
  -ms-animation: bar-fill 1s;
  animation: bar-fill 1s;
  background-color: #009bca;
  display: block;
  height: 8px;
  width: 0px; }

body {
  background-color: #000; }

p {
  color: #009bca;
  font-family: 'Helvetica';
  font-size: 14px;
  font-weight: 100; }

.login-container {
  height: 100vh;
  width: 100vw;
  background-color: #f2f2f2;
  padding-top: 10%; }
  .login-container .login-form {
    text-align: center;
    height: 100%;
    width: 30%;
    background: #fff;
    padding: 2%;
    border-radius: 1em;
    border: #E8E8E8 1px solid; }
    .login-container .login-form .login-title {
      font-family: 'Roboto';
      font-weight: 700;
      padding-bottom: 20px; }
    .login-container .login-form .username-input, .login-container .login-form .password-input {
      padding: 15px 0px;
      width: 100%;
      font-family: 'Roboto';
      font-size: 1em;
      text-align: center; }
    .login-container .login-form a {
      font-family: 'Roboto';
      text-decoration: none;
      color: #000000; }
      .login-container .login-form a:hover {
        color: #68D8D6; }
