// VARIABLES 

$font: 'Roboto Slab', serif;
$heading: 700;
$paragraph: 400;
$danger: #a70000;
$success: #29930f;
$default: #499cb5;
$blue-accent: #028090;
$orange: #E28413;
$grey: #E8E8E8;
$white: #ffffff;
$black: #000000;
$black: #000000;
$blue1: #9CEAEF;
$blue2: #3DCCC7;
$blue3: #07BEB8;
$blue4: #68D8D6;